<div class="container">
  <div class="row">
    <h2 class="h2 text-primary ">User {{userModel.email}}</h2>
  </div>
  <div class="row">
    <div class="col-md">


      <h3 class="h3">Subordinates: </h3>
      <app-crud-grid id="users"
                     [header]="'Subordinates'"
                     [objectList]="allSubordinates"
                     [girdDisplay]="displaySubordinate">
      </app-crud-grid>
    </div>
    <div class="col-md">
      <h2 class="h2 ">Roles: {{roles}}</h2>

      <!-- combobox -->
      <h3 class="h3">Add Role</h3>
      <div style=" white-space: nowrap;">
        <select [(ngModel)]="selectedRole" class="custom-select" style="width: 79%">
          <option *ngFor="let r of allRoles" value="{{r}}">{{r}}</option>
        </select>
        <button (click)="addRole()" class="btn btn-outline-secondary fa fa-plus"
                style="height: calc(1.5em + .75rem + 2px); margin-left: 1%"></button>
      </div>

      <br>
      <!-- combobox subordinates-->
      <h3 class="h3">Add subordinate</h3>
      <div style=" white-space: nowrap;">
        <select [(ngModel)]="selectedSubordinate" class="custom-select" style="width: 79%">
          <option *ngFor="let u of allUsers" value="{{u}}">{{displaySubordinate(u)}}</option>
        </select>
        <button (click)="addSubordinate()" class="btn btn-outline-secondary fa fa-plus"
                style="height: calc(1.5em + .75rem + 2px); margin-left: 1%"></button>
      </div>
    </div>
  </div>
</div>


